
<div
class="email-container"
style="display: flex;flex-direction: column;gap: 1rem;align-items: center;justify-content: center;background-color: #eaeaea;">
    <section 
    class="email-logo"
    style="background-color: #000000;color: #fff;height: 150px;width: 100%;text-align: center;display: flex;align-items: center;justify-content: center;">
        <h1>Nicedirect</h1>
    </section>
    
    <section 
    class="email-main" style="background-color: #fff;width: 80%;display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 4rem;padding: 2rem 1rem; @media(max-width: 768px){width: 90%}">
        <p class="in" style="font-size: 3rem;text-align: center;">
            CONGRATS, YOU'RE IN!
        </p>

        <p class="welcome"
           style="text-align: center;width: 70%;font-size: 1.5rem; @media(max-width: 768px){width: 90%}">
           Welcome to Nicedirect. We are thrilled to have you. Your email address has been verified but your account verification is in progress. Please bear with us
            as this may take a short while. Once the verification is complete, you will receive a confirmation email. 
        </p>

        <h3>Your Code is {{code}}</h3>

        <div class="list-item" style="text-align: center;width: 70%;font-size: 1.5rem;padding: 2rem;height: 450px;display: flex;flex-direction: column;justify-content: center; @media(max-width: 768px){width: 90%; height: auto;}">
            <p class="meantime"
               style="background-color: #f3f3f3;padding: 2rem;">
               In the meantime, here are a few things you can do:
            </p>
            <ul class="list"
            style="background-color: #f3f3f3;padding: 2rem;text-align: start;font-size: 1.2rem;color: #a52a2a;">
                <li style="list-style: disc;">Log in to access your account and complete your profile.</li>
                <li style="list-style: disc;">Take a tour of our website to discover the range of services we offer.</li>
                <li style="list-style: disc;">If you have any questions or need assistance call us on <a href="tel:+254 724 553 437">+254 724 553 437</a>
                    or reply to this email.</li>
            </ul>
        </div>

        <div class="email-footer"
        style="text-align: center;display: flex;flex-direction: column;gap: 1rem;margin-top: 2rem;background-color: #e2e2e2;padding: 1rem;">
                <p>This email is intended to <span style="color: rgb(53, 53, 255);">mosesopiyo54@gmail.com</span>. We appreciate your trust in our products/services and
                look forward to serving you with excellence. If you believe you received this email in error please contact our
                customer support team at <a href="mailto:support@nicedirect.co.ke" style="text-decoration: underline;color: rgb(53, 53, 255);">support@nicedirect.co.ke</a>.
                Your cooperation is highly appreciated.
            </p>
            <a
            href="#"
            style="text-decoration: underline;color: rgb(53, 53, 255);">
            Privacy Policy
            </a>
            <a
            href="#"
            style="text-decoration: underline;color: rgb(53, 53, 255);">
            Unsubscribe
            </a>
        </div>
    </section>
</div>
